/Jango.Lab_Company/packages
/Jango.Lab_Company/Jango.Lab.Models/bin/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Models/bin/Release/*.xml
/Jango.Lab_Company/Jango.Lab.Models/bin/Release/*.config
/Jango.Lab_Company/Jango.Lab.Models/bin/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Models/bin/Release/zh-Hans/*.dll
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.resources
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.txt
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.Cache
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Models/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.Repositories/bin/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Repositories/bin/Release/*.xml
/Jango.Lab_Company/Jango.Lab.Repositories/bin/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Repositories/bin/Release/*.config
/Jango.Lab_Company/Jango.Lab.Repositories/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.Repositories/obj/Release/*.txt
/Jango.Lab_Company/Jango.Lab.Repositories/obj/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Repositories/obj/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Repositories/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/*.xml
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/zh-CHS/*.dll
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/zh-CHT/*.dll
/Jango.Lab_Company/Jango.Lab.Services/bin/Release/zh-Hans/*.dll
/Jango.Lab_Company/Jango.Lab.Services/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.Services/obj/Release/*.txt
/Jango.Lab_Company/Jango.Lab.Services/obj/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Services/obj/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Services/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.ViewModels/bin/Release/*.dll
/Jango.Lab_Company/Jango.Lab.ViewModels/bin/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.ViewModels/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.ViewModels/obj/Release/*.txt
/Jango.Lab_Company/Jango.Lab.ViewModels/obj/Release/*.dll
/Jango.Lab_Company/Jango.Lab.ViewModels/obj/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.ViewModels/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.Web/bin/*.dll
/Jango.Lab_Company/Jango.Lab.Web/bin/zh-CHS/*.dll
/Jango.Lab_Company/Jango.Lab.Web/bin/zh-CHT/*.dll
/Jango.Lab_Company/Jango.Lab.Web/bin/zh-Hans/*.dll
/Jango.Lab_Company/Jango.Lab.Web/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.Web/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.Web/obj/Release/*.force
/Jango.Lab_Company/Jango.Lab.Wechat/Properties/PublishProfiles/*.pubxml
/Jango.Lab_Company/Jango.Lab.Wechat/Properties/PublishProfiles/*.user
/Jango.Lab_Company/Jango.Lab.Wechat/bin/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/*.cache
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/*.txt
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/*.pdb
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/*.asax
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Scripts/*.js
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Scripts/*.map
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/Charge/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/Course/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/Member/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/Register/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/Shared/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/Views/*.cshtml
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/roslyn/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/roslyn/*.targets
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/roslyn/*.exe
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/roslyn/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/zh-CHS/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/zh-CHT/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/bin/zh-Hans/*.dll
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/css/*.css
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/*.ico
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/fonts/*.eot
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/fonts/*.svg
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/fonts/*.ttf
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/fonts/*.woff
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/html/*.html
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.css
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.html
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.eot
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.svg
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.ttf
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_course/*.woff
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.css
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.html
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.eot
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.svg
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.ttf
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_member/*.woff
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.css
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.html
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.eot
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.svg
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.ttf
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/icon_product/*.woff
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/images/*.jpg
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/Package/PackageTmp/images/*.png
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/*.cs
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/TransformWebConfig/assist/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/TransformWebConfig/original/*.config
/Jango.Lab_Company/Jango.Lab.Wechat/obj/Release/TransformWebConfig/transformed/*.config
