<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBase" connectionString="metadata=res://*/data.DataBase.csdl|res://*/data.DataBase.ssdl|res://*/data.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=local;Initial Catalog=xxxxx;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>